<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.title}"></title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid">
    <div class="row" style="margin-top: 5em">
        <div class="col-lg-6 offset-lg-3">
            <div class="alert alert-success">
                <h1 class="text-center" th:text="#{success.message}"></h1>
            </div>
        </div>
    </div>
</div>
</body>
</html>